workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "http://82.112.245.62:5000/data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=type",
              "value": "={{ $json.body.type }}"
            },
            {
              "name": "regiao",
              "value": "={{ $json.body.regiao }}"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}\n",
        "options": {}
      },
      "id": "4503d502-a77e-4382-90ff-7b45ba19b2ce",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        460
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "3ecfa869-782a-4b54-84cc-10ddfe3541ca",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        460
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "paulo.monte.fis@gmail.com",
          "mode": "list",
          "cachedResultName": "paulo.monte.fis@gmail.com"
        },
        "options": {
          "outputFormat": "raw"
        }
      },
      "id": "604e38de-86c5-48e2-8b41-672376b3c058",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        440,
        720
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "z3C3NAWOS3oOlhxZ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "988891b7-a8f9-46b7-aed2-a2a1902d9c14",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        720
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/chat/",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bde23870-2920-43e0-91a6-89f913380e9a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -60,
        660
      ],
      "webhookId": "b791963d-654e-4306-83f0-400af693291e"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": true,
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Segui para nossas regras de negocio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c4532768-3634-476f-bfd2-f0c30f3b3d85",
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "agendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            }
          ]
        },
        "options": {}
      },
      "id": "e20e56bd-29c6-45b2-ba73-b7e74c81a752",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        160,
        660
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e202e5ba-0456-40b6-b9b4-12a416134b4e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f88e61a11f5cfc7055176a4b060c80d6c8a0ed7a7529bc57afcf10c6244465cc"
  },
  "id": "qZ1P1YlDb5MumL2n",
  "tags": []
}